
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h1>Welcome to details page</h1>
<h4>Kanimozhi</h4>
<h4>Hcl</h4>
<a href="https://www.google.com/" >google</a>

